p {
    font-size: 12px;
    font-style: italic;
    text-indent: 2em;
    line-height: 26px;
}
.red {
    color:red;
}
.font {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
#box{
    background-color: blue;)
    width: 20px;
    height: 20px;
}
h1 {
    font-family: '微软雅黑';
    text-align: center;
}
a {
    text-decoration: none;
}
.colorchange {
    color: #666;
}
.display {
    height: 100px;
    width: 150px;
    background-color: blueviolet;
    display: block;
}
table{
    width: 500px;
    height:200px;
}
table,
td {
    border: 2px solid pink;
    /* 合并相邻边框 */
    border-collapse: collapse;
}
.father {
    width: 400px;
    height: 400px;
    background-color: blue;
}
.son {
    width: 200px;
    height: 200px;
    background-color: brown;
}