<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>慧游园-订单</title>
    <link rel="stylesheet" href="../CSS/order.css">
    <script src="../JS/vue.js"></script>
    <script src="../JS/order.js"></script>
</head>

<body>
    <header>
        <div class="title"><span>订单</span></div>
        <a class="search"></a>
    </header>
    <nav>
        <a class="all">全部</a>
        <a class="finished">已完成</a>
        <a class="incomplete">未完成</a>
        <a class="expired">已过期</a>
        <a class="refund">退款</a>
    </nav>
    <!-- The first product -->
    <section>
        <div class="table">
            <div class="product">
                <span>武汉鲜果园<i>></i></span>
                <span>交易成功</span>
            </div>
            <div class="detils">
                <div class="pic">
                    <img src="../Images/product.png" alt="">
                </div>
                <div class="info">【成人票】全天全场通票</div>
                <div class="date">04月26日 23:23下单</div>
                <div class="price"><i>￥</i>108</div>
                <div class="num">X<span>1</span></div>
            </div>
            <div class="rPrice">实际款<i>￥</i><span>100</span></div>
            <div class="service">
                <button class="ticket">开发票</button>
                <button class="moreInfo">订单详情</button>
            </div>
        </div>
    </section>
    <!-- The second product -->
    <section class="items">  
        <div class="table">
            <div class="product">
                <span>武汉鲜果园<i>></i></span>
                <span>交易成功</span>
            </div>
            <div class="detils">
                <div class="pic">
                    <img src="../Images/product.png" alt="">
                </div>
                <div class="info">【成人票】全天全场通票</div>
                <div class="date">04月26日 23:23下单</div>
                <div class="price"><i>￥</i>108</div>
                <div class="num">X<span>1</span></div>
            </div>
            <div class="rPrice">实际款<i>￥</i><span>100</span></div>
            <div class="service">
                <button class="ticket">开发票</button>
                <button class="moreInfo">订单详情</button>
            </div>
        </div>
    </section>
    <!-- The third product -->
    <section class="items">
        <div class="table">
            <div class="product">
                <span>武汉鲜果园<i>></i></span>
                <span>交易成功</span>
            </div>
            <div class="detils">
                <div class="pic">
                    <img src="../Images/product.png" alt="">
                </div>
                <div class="info">【成人票】全天全场通票</div>
                <div class="date">04月26日 23:23下单</div>
                <div class="price"><i>￥</i>108</div>
                <div class="num">X<span>1</span></div>
            </div>
            <div class="rPrice">实际款<i>￥</i><span>100</span></div>
            <div class="service">
                <button class="ticket">开发票</button>
                <button class="moreInfo">订单详情</button>
            </div>
        </div>
    </section>
    <footer>
         <div class="icon index">
            <span>首页</span>
         </div>
         <div class="icon order"> 
            <span>订单</span>
         </div>
         <div class="icon msg"> 
            <span>消息</span>
         </div>
         <div class="icon mine"> 
            <span>我的</span>
         </div>
    </footer>
</body>

</html>