<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小米账号-登录</title>
    <link rel="stylesheet" href="../CSS/login.css">
</head>
<body>
    <div class="login-desktop">
        <div class="left">
            <div class="bg">
                <img src="../Images/login-left.jpg" alt="">
            </div>
        </div>
        <div class="right">
            <div class="login-header">
                <div class="logo">
                    <img src="../Images/logo-mi.png" alt="">
                    小米账号
                </div>
                <div class="mi-nav">
                    <a href="#">用户协议</a>
                    <a href="#">隐私政策</a>
                    <a href="#">帮助中心</a>
                    <span></span>
                    <div class="language">
                        ‎中文(简体)‎
                        <div class="corner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>