<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Images/favicon.ico">
    <title>我的购物车-小米商城</title>
    <link rel="stylesheet" href="../CSS/myCart.css">
    <script src="../JS/myCart.js"></script>
</head>

<body>
    <header>
        <div class="w">
            <a href="../index.html"><img src="../Images/logo-mi.png" alt=""></a>
            <div class="topic">
                <h2>我的购物车</h2>
            </div>
            <div class="login">
                <a href="login.html">登录</a>
                <span>|</span>
                <a href="register.html">注册</a>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="w">
            <div class="shopping-info">
                <!-- 当购物车为空时 -->
                <!-- <div class="empty">
                    <h2>您的购物车还是空的！</h2>
                    <p>登录之后显示您之前加入的商品</p>
                    <a href="login.html" class="login">立即登录</a>
                    <a href="#" class="go-shopping">马上去购物</a>
                </div> -->
                <!-- 当购物车不为空时 -->
                <div class="goods-list">
                    <div class="list-head">
                        <div class="all-checked">
                            <input type="checkbox" class="ck">
                            全选
                        </div>
                        <div class="nbsp">&nbsp;</div>
                        <div class="col-name">商品名称</div>
                        <div class="col-price">单价</div>
                        <div class="col-num">数量</div>
                        <div class="col-total">小计</div>
                        <div class="col-del">操作</div>
                    </div>
                    <div class="list-body">
                        <div class="list-item">
                            <!-- <div class="item-row">
                                <div class="col-check">
                                    <input type="checkbox" class="item-ck">
                                </div>
                                <div class="col-img">
                                    <a href="javascript:;">
                                        <img src="../Images/cart-pic.webp" alt="">
                                    </a>
                                </div>
                                <div class="col-name">
                                    <h3>
                                        <a href="#">米兔儿童学习手表5X 蓝色</a>
                                    </h3>
                                </div>
                                <div class="col-price">
                                    599元
                                </div>
                                <div class="col-num">
                                    <div class="change-num">
                                        <a href="#">-</a>
                                        <input type="text" autocomplete="off" class="goods-num">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                                <div class="col-total">
                                    599元
                                </div>
                                <div class="col-del">
                                    <a href="#">
                                        <i></i>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                        <div class="cart-bar">
                            <section class="left">
                                <a href="../index.html">继续购物</a>
                                <span>
                                    已选择
                                    <i class="amount">0</i>
                                    件
                                </span>
                            </section>
                            <section class="paging">
                                <a href="javascript:;" class="prev"><</a>
                                <input type="text" value="1">
                                <a href="javascript:;" class="next">></a>
                            </section>
                            <div class="total-price">
                                合计：
                                <em class="price">0</em>
                                元
                                <a href="#">去结算</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recommend">
                <h2>
                    <span>为您推荐</span>
                </h2>
                <div class="goods">
                    <ul>
                        <!-- <li>
                            <a href="#">
                                <img src="../Images/shopping-pic.webp" alt="">
                                <div class="recommend-name">小米手环7 NFC版</div>
                                <div class="recommend-price">299元</div>
                            </a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <footer>
        <div class="site-footer">
            <div class="w">
                <div class="footer-service">
                    <ul>
                        <li>
                            <a href="#">
                                <em></em>
                                预约维修服务
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em></em>
                                7天无理由退货
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em></em>
                                15天免费退换货
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em></em>
                                满69元包邮
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em></em>
                                520余家售后网点
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links">
                    <dl>
                        <dt>帮助中心</dt>
                        <dd><a href="#">账户管理</a></dd>
                        <dd><a href="#">购物指南</a></dd>
                        <dd><a href="#">订单操作</a></dd>
                    </dl>
                    <dl>
                        <dt>服务支持</dt>
                        <dd><a href="#">售后政策</a></dd>
                        <dd><a href="#">自助服务</a></dd>
                        <dd><a href="#">相关下载</a></dd>
                    </dl>
                    <dl>
                        <dt>线下门店</dt>
                        <dd><a href="#">小米之家</a></dd>
                        <dd><a href="#">服务网点</a></dd>
                        <dd><a href="#">授权体验店/专区</a></dd>
                    </dl>
                    <dl>
                        <dt>关于小米</dt>
                        <dd><a href="#">了解小米</a></dd>
                        <dd><a href="#">加入小米</a></dd>
                        <dd><a href="#">投资者关系</a></dd>
                        <dd><a href="#">企业社会责任</a></dd>
                        <dd><a href="#">廉洁举报</a></dd>
                    </dl>
                    <dl>
                        <dt>关注我们</dt>
                        <dd><a href="#">新浪微博</a></dd>
                        <dd><a href="#">官方微信</a></dd>
                        <dd><a href="#">联系我们</a></dd>
                        <dd><a href="#">公益基金会</a></dd>
                    </dl>
                    <dl>
                        <dt>特色服务</dt>
                        <dd><a href="#">F码通道</a> </dd>
                        <dd><a href="#">礼物码</a></dd>
                        <dd><a href="#">防伪查询</a> </dd>
                    </dl>
                    <div class="contact">
                        <p class="phone">400-100-5678</p>
                        <p>8:00-18:00（仅收市话费）</p>
                        <a href="#" class="contact-service">
                            <em></em>
                            人工客服
                        </a>
                        <div class="follow">
                            关注小米
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="footer-info">
                    <a href="#">
                        <img src="../Images/footer.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>