<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Images/favicon.ico">
    <title>小米商品页</title>
    <link rel="stylesheet" href="../CSS/shopping.css">
    <script src="../JS/shopping.js"></script>
</head>

<body>
    <header>
        <!-- 顶部导航栏 -->
        <div class="top">
            <div class="w">
                <!-- 左导航栏 -->
                <div class="top-nav">
                    <a href="#">小米商城</a>
                    <span>|</span>
                    <a href="#">MIUI</a>
                    <span>|</span>
                    <a href="#">loT</a>
                    <span>|</span>
                    <a href="#">云服务</a>
                    <span>|</span>
                    <a href="#">天星数科</a>
                    <span>|</span>
                    <a href="#">有品</a>
                    <span>|</span>
                    <a href="#">小爱开放平台</a>
                    <span>|</span>
                    <a href="#">企业团购</a>
                    <span>|</span>
                    <a href="#">资质证照</a>
                    <span>|</span>
                    <a href="#">协议规则</a>
                    <span>|</span>
                    <a href="#">下载app</a>
                    <span>|</span>
                    <a href="#">Select Location</a>
                </div>
                <!-- 购物车 -->
                <div class="top-cart">
                    <a href="myCart.html" class="cart-mini">
                        <em class="icon-font"></em>
                        <em></em>购物车
                        <span class="cart-mini-num">(0)</span>
                    </a>
                    <div class="products"></div>
                </div>
                <!-- 右导航栏 -->
                <div class="top-info">
                    <a href="login.html">登录</a>
                    <span>|</span>
                    <a href="register.html">注册</a>
                    <span>|</span>
                    <a href="#">消息通知</a>
                </div>
            </div>
        </div>
        <nav>
            <div class="w">
                <div class="nav-logo">
                    <a href="../index.html" class="logo">
                        <img src="../Images/logo-mi.png" alt="">
                    </a>
                </div>
                <div class="nav-list">
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#">Xiaomi手机</a></li>
                        <li><a href="#">Redmi红米</a></li>
                        <li><a href="#">电视</a></li>
                        <li><a href="#">笔记本</a></li>
                        <li><a href="#">平板</a></li>
                        <li><a href="#">家电</a></li>
                        <li><a href="#">路由器</a></li>
                        <li><a href="#">服务</a></li>
                        <li><a href="#">社区</a></li>
                    </ul>
                </div>
                <div class="nav-search">
                    <form action="" class="search-form">
                        <label for="search"></label>
                        <a href="#">
                            <input type="search" placeholder="黑鲨" class="search-text">
                        </a>
                        <a href="#">
                            <input type="submit" value="" class="search-btn iconfont">
                        </a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="goods">
        <div class="w">
            <h2 class="phone-name">Xiaomi Civi 1S</h2>
            <div class="left">
                <span>|</span>
                <a href="#"><span class="phone-name">Xaiomi Civi</span></a>
            </div>
            <div class="right">
                <a href="#">概述页</a>
                <span>|</span>
                <a href="#">参数页</a>
                <span>|</span>
                <a href="#">F码通道</a>
                <span>|</span>
                <a href="#">咨询客服</a>
                <span>|</span>
                <a href="#">用户评价</a>
            </div>
        </div>
    </div>
    <!-- 产品详情 -->
    <div class="product">
        <div class="w">
            <div class="product-left">
                <!-- <img src="../Images/Xioami Civi.jpg" alt=""> -->
            </div>
            <div class="product-info">
                <div class="phone-info">
                    <!-- <h2>Xioami Cici</h2>
                    <p class="sale-dec">
                        <font>「赠69元天生好看斜挎包（请选择此套装下单）；信用卡分期至高立减200元」</font>
                        轻薄潮流设计 | 丝绒AG工艺 | 原生美肌人像 | 像素级肌肤焕新技术 | 3200万高清质感自拍 | 双柔光灯+自动对焦 | 3D曲面OLED柔性屏 | 120Hz+Dolby
                        Vision |
                        4500mAh 大电量 | 55W有线闪充 | 立体声双扬声器 | 多功能NFC
                    </p>
                    <p class="ad">小米自营</p>
                    <div class="price">
                        <span>
                            2599元
                            <del>2899元</del>
                        </span>
                    </div> -->
                </div>
                <div class="line"></div>
                <div class="discount">
                    <span class="ticket">优惠券</span>
                    <span class="amount">100元优惠券</span>
                    <a href="#">立即领取</a>
                </div>
                <div class="address-box">
                    <div class="address-info">
                        <span>北京</span>
                        <span>北京市</span>
                        <span>海淀区</span>
                        <span>清河街道</span>
                        <a href="#">修改</a>
                    </div>
                    <a href="#">有现货</a>
                </div>
                <div class="buy-option">
                    <div class="option-box">
                        <div class="title">选择版本</div>
                        <ul>
                            <li><a href="#">8GB+256GB</a></li>
                            <li><a href="#">12GB+256GB</a></li>
                            <li><a href="#">8GB+128GB</a></li>
                        </ul>
                    </div>
                </div>
                <div class="buy-option">
                    <div class="option-box">
                        <div class="title">选择颜色</div>
                        <ul>
                            <li><a href="#">闪闪黑</a></li>
                            <li><a href="#">轻轻蓝</a></li>
                            <li><a href="#">怦怦粉</a></li>
                        </ul>
                    </div>
                </div>
                <div class="buy-option">
                    <div class="option-box">
                        <div class="title">选择套装</div>
                        <ul>
                            <li><a href="#">标准版</a></li>
                            <li><a href="#">套装版</a></li>
                            <li><a href="#">赠69元天生好看斜挎包</a></li>
                        </ul>
                    </div>
                </div>
                <div class="total">
                    <ul>
                        <li>
                            <p class="phone-name">Xiaomi Civi</p>8GB+256GB 闪闪黑
                            <span class="rel-price">
                                <!-- <span >2599元</span> -->
                                <!-- <del>2899元</del> -->
                            </span>
                        </li>
                    </ul>
                    <div class="money">
                        总计：
                        <span>2599元</span>
                    </div>
                </div>
                <div class="btn-box">
                    <div class="pay-btn">
                        <a href="#">加入购物车</a>
                    </div>
                    <div class="fav-btn">
                        <a href="#">喜欢</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="img-box">
            <div class="w">
                <h3>价格说明</h3>
                <img src="../Images/shopping-info.png" alt="">
            </div>
        </div>
    </div>
    </div>
    <!-- 底部 -->
    <footer>
        <div class="site-footer">
            <div class="w">
                <div class="footer-service">
                    <ul>
                        <li>
                            <a href="#">
                                <em></em>
                                预约维修服务
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em></em>
                                7天无理由退货
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em></em>
                                15天免费退换货
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em></em>
                                满69元包邮
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em></em>
                                520余家售后网点
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links">
                    <dl>
                        <dt>帮助中心</dt>
                        <dd><a href="#">账户管理</a></dd>
                        <dd><a href="#">购物指南</a></dd>
                        <dd><a href="#">订单操作</a></dd>
                    </dl>
                    <dl>
                        <dt>服务支持</dt>
                        <dd><a href="#">售后政策</a></dd>
                        <dd><a href="#">自助服务</a></dd>
                        <dd><a href="#">相关下载</a></dd>
                    </dl>
                    <dl>
                        <dt>线下门店</dt>
                        <dd><a href="#">小米之家</a></dd>
                        <dd><a href="#">服务网点</a></dd>
                        <dd><a href="#">授权体验店/专区</a></dd>
                    </dl>
                    <dl>
                        <dt>关于小米</dt>
                        <dd><a href="#">了解小米</a></dd>
                        <dd><a href="#">加入小米</a></dd>
                        <dd><a href="#">投资者关系</a></dd>
                        <dd><a href="#">企业社会责任</a></dd>
                        <dd><a href="#">廉洁举报</a></dd>
                    </dl>
                    <dl>
                        <dt>关注我们</dt>
                        <dd><a href="#">新浪微博</a></dd>
                        <dd><a href="#">官方微信</a></dd>
                        <dd><a href="#">联系我们</a></dd>
                        <dd><a href="#">公益基金会</a></dd>
                    </dl>
                    <dl>
                        <dt>特色服务</dt>
                        <dd><a href="#">F码通道</a> </dd>
                        <dd><a href="#">礼物码</a></dd>
                        <dd><a href="#">防伪查询</a> </dd>
                    </dl>
                    <div class="contact">
                        <p class="phone">400-100-5678</p>
                        <p>8:00-18:00（仅收市话费）</p>
                        <a href="#" class="contact-service">
                            <em></em>
                            人工客服
                        </a>
                        <div class="follow">
                            关注小米
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="footer-info">
                    <a href="#">
                        <img src="../Images/footer.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>