<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>慧游园-登录</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/login/login.css">
    <link rel="stylesheet" type="text/css" href="./fonts/icon_login/iconfont.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
    <link rel="stylesheet" href="./js/layer-master/dist/mobile/need/layer.css">
    <script src="./js/layer-master/dist/layer.js"></script>
    <link rel="stylesheet" href="../CSS/login.css">
    <script src="../JS/login.js"></script>
</head>

<body>
    <div class="login">
        <div class="information">
            <img class="logo" src="../Upload/logo+word.png" alt="">
        </div>
        <div style="color: rgb(70,70,70);">欢迎使用慧游园</div>
        <form id="loginForm" action="" class="">
            <div class="carName">
                <span class="ionic_use">
                    <i class="iconfont icon-yonghuming"></i>
                    <input id="username" type="text" class="usernames" placeholder="用户名"
                        style=" background-color: rgb(235,235,235);">
                </span>
            </div>
            <div class="carPassword">
                <span class="ionic_pass">
                    <i class="iconfont icon-mima"></i>
                    <input id="password" type="password" class="passwords" placeholder="密码"
                        style=" background-color: rgb(235,235,235);">
                </span>
            </div>
            <a class="register" href="register.html">新商家注册</a>
            <div>
                <input id="submit" type="button" value="登  录" />
            </div>
        </form>
    </div>
</body>

</html>