<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>慧游园-注册</title>
    <link rel="stylesheet" href="../CSS/register.css">
    <script src="../JS/register.js"></script>
</head>

<body>
    <!-- logo部分 -->
    <div class="logo">
        <img src="../Upload/logo+word.png" alt="">
    </div>
    <div class="detils"><span>欢迎使用慧游园</span></div>

    <!-- 注册部分 -->
    <div class="login-table">
        <div class="user">
            <input type="text" placeholder="账号" id="username">
        </div>
        <div class="psw">
            <input type="password" placeholder="密码" id="password">
        </div>
    </div>
    <div class="more">
        <span>
            已有账号？<a href="login.html">登录</a>
        </span>
    </div>
    <div class="register">
        <button class="btn">注 册</button>
    </div>
</body>

</html>