<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        Vue监视数据的原理:
            1.Vue会监视data中所有层次的数据

            2.如何监测对象中的数据?
                通过setter实现监视,且要在new Vue时就传入要监测的数据
                    (1).对象中后追加的属性,Vue默认不做响应式处理
                    (2).如需给后添加的属性做响应式,请使用如下API:
                        Vue.set(target, propertyName/index, value)或
                        Vm.$set(target, propertyName/index, value)

            3.如何监测数组中的数据?
                通过包裹数组更新元素的方法实现,本质就是做了两件事:
                    (1).调用原生对应的方法对数组进行更新
                    (2).重新解析模板,进而更新页面

            4.在Vue修改数组中的某个元素一定要用如下方法:
                1.使用这些API: push() pop() shift() unshift() splice() sort() reverse()
                2.Vue.set() 或 vm.$set()

            特别注意: Vue.set() 和 vm.$set() 不能给vm或vm的根数据对象添加属性!!!
     -->

    <div id="root">
        <h1>学生信息</h1>
        <button @click="addAge">年龄+1</button><br />
        <button @click="addSex">添加一个性别属性，默认值为男</button><br />
        <button @click="addFriend">在列表首位添加一位朋友</button><br />
        <button @click="updateFirstFriendName">修改第一个朋友的名字为:张三</button><br />
        <button @click="addHobby">添加一个爱好</button><br />
        <button @click="updateFirstHobby">修改一个爱好为:开车</button><br/>
        <button @click="removeSmoke">过滤掉爱好中的抽烟</button>

        <h2>学生姓名:{{student.name}} </h2>
        <h2>学生年龄:{{student.age}}</h2>
        <h2 v-if="student.sex">学生性别:{{student.sex}}</h2>
        <h3> 爱好:</h3>
        <ul>
            <li v-for="(h, index) in student.hobby" :key="index">
                {{h}}
            </li>
        </ul>
        <h3>朋友们:</h3>
        <ul>
            <li v-for="(f, index) in student.friends" :key="index">
                {{f.name}}--{{f.age}}
            </li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#root',
            data: {
                student: {
                    name: 'Waylon',
                    age: 18,
                    hobby: ['抽烟', '喝酒', '烫头'],
                    friends: [
                        { name: 'Valerie', age: 30 },
                        { name: 'Tony', age: 40 }
                    ]
                }
            },
            methods: {
                addAge() {
                    this.student.age++;
                },
                addSex() {
                    Vue.set(this.student,'sex','男');
                },
                addFriend() {
                    this.student.friends.unshift({ name: 'Loarrine', age: 30 })
                },
                updateFirstFriendName() {
                    this.student.friends[0].name = '张三';
                },
                addHobby() {
                    this.student.hobby.push('学习');
                },
                updateFirstHobby() {
                    // 第一种办法
                    // this.student.hobby.splice(0,1,'开车');
                    // 第二种办法
                    Vue.set(this.student.hobby,0,'开车');
                    // 第二种办法的第二种写法
                    // this.$set(this.student.hobby,0,'开车');
                },
                removeSmoke() {
                    this.student.hobby =  this.student.hobby.filter((h)=>{
                        return h !== '抽烟';
                    })
                }
            }
        })
    </script>
</body>

</html>