<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/borrwing.css">
    <script src="../JS/borrowing.js"></script>
    <title>商品详情页</title>
</head>

<body>
    <!-- 头部 -->
    <header class="clearfix">
        <div class="w">
            <div class="logo">
                <img src="../Images/logo.png" alt="">
                <!-- <p>绵阳城市学院图书馆</p> -->
            </div>
            <div class="login">
                <i></i>
                <span><a href="./login.html" style="color: rgba(255, 255, 255, 1);">登录</a></span>
            </div>
            <ul class="header-nav">
                <li>
                    <a href="../index.html">
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="books.html">
                        <p>资源</p>
                    </a>
                </li>
                <li>
                    <a href="http://www.news.cn/">
                        <p>资讯</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>展览</p>
                    </a>
                </li>
                <li>
                    <a href="http://github.com/Waylon06/WebPage-Study.git">
                        <p>活动</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>资源列表</p>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="banner">
        <div class="w">
<!--            <div class="book-img">-->
<!--                <div class="info"></div>-->
<!--                <img src="../Images/book-10.jpg" alt="">-->
<!--            </div>-->
<!--            <div class="book-info">-->
<!--                <h2 class="title">《你还能卷》</h2>-->
<!--                <p class="details">出自于著名绵城卷王&#45;&#45;刘晓虎之手</p>-->
<!--                <p class="author">作者：<span>刘晓虎</span></p>-->
<!--                <div class="line"></div>-->
<!--                <div class="address">-->
<!--                    <div class="address-info">-->
<!--                        <i></i>-->
<!--                        <span>四川</span>-->
<!--                        <span>绵阳市</span>-->
<!--                        <span>安州区</span>-->
<!--                        <span>绵阳城市学院图书馆</span>-->
<!--                    </div>-->
<!--                    <a href="javascript:;">有库存</a>-->
<!--                </div>-->
<!--                <div class="time">-->
<!--                    <div class="title">借用时长</div>-->
<!--                    <input type="text" placeholder="请输入借用时长">-->
<!--                </div>-->
<!--                <button>借 阅</button>-->
<!--                <div class="line"></div>-->
<!--            </div>-->
        </div>
    </div>
</body>

</html>