* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
}

a {
    text-decoration: none;
}

/* 头部区域 */
.header {
    height: 42px;   
    /* 注意此地方会层叠w里面的margin */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* 按钮button默认有个边框需要我们手动去掉 */
    border: 0;
    background: url(images/btn.png);
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
    vertical-align: middle;
}

/* 横幅区域 */
.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(images/banner2.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}
.course {
    float: right;
    width: 230px;
    height: 300px;
    /* 浮动的盒子不会有外边距合并的问题 */
    margin-top: 50px;
    background-color: #fff;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.bd {
  padding: 0 20px; 
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}

/* 精品推荐模块 */
.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    /* 行高会继承给子元素 */
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods .mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

/* 主体部分模块 */
.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

/* 把ul修改得足够宽，使一行能装开五个盒子，而不会掉下去 */
.box-bd ul {
    width: 1225px;
}

.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}

.box-bd ul li img {
    width: 100%;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd .info span {
    color: #ff7c2d;
}

/* 编程入门部分 */
.bcrm {
    margin-top: 40px;
    clear: both;
}

.bcrm-hd {
    height: 45px;
}

.bcrm-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.bcrm-hd ul {
    margin-left: 354px;
}

.bcrm-hd ul li {
    float: left;
    padding: 0 45px;
}

.bcrm-hd ul li a {
    font-size: 16px;
    color: #979898;
    margin-top: 10px;
}

.bcrm-hd ul li a:hover {
    color: #66bcfd;
}

.bcrm-hd .lost {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-right: 30px;
    margin-top: 10px;
}

.bcrm-bd {
    height: 95px;
}

.bcrm-bd .bdleft {
    float: left;
    width: 228px;
}

.bcrm-bd .bdright {
    float: left;
    width: 972px;
}

.bcrm-bd .bdright .r-top {
    margin-left: 15px;
}

.bcrm-bd .bdright ul {
    width: 1300px;
}

.bcrm-bd .bdright ul li {
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-top: 18px;
    background-color: #fff;
}

.bcrm-bd .bdright ul li img {
    width: 100%;
}

.bcrm-bd .bdright ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.bcrm-bd .bdright ul li .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.bcrm-bd .bdright ul li .info span {
    color: #ff7c2d;
}