* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
}

a {
    text-decoration: none;
}

.header {
    height: 42px;   
    /* 注意此地方会层叠w里面的margin */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* 按钮button默认有个边框需要我们手动去掉 */
    border: 0;
    background: url(images/btn.png);
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
    vertical-align: middle;
}