<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>

    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="person in filPersons" :key="person.id">
                {{person.name}}-{{person.age}}-{{person.sex}}
            </li>
        </ul>



    </div>

    <script>
        Vue.config.productionTip = false;

        new Vue({
            el: '#root',
            data: {
                keyWord: '',
                persons: [
                    {
                        id: 001,
                        name: '马冬梅',
                        age: 18,
                        sex: '女'
                    },
                    {
                        id: 002,
                        name: '周冬雨',
                        age: 19,
                        sex: '女'
                    },
                    {
                        id: 003,
                        name: '周杰伦',
                        age: 20,
                        sex: '男'
                    },
                    {
                        id: 004,
                        name: '温兆伦',
                        age: 20,
                        sex: '男'
                    }
                ],
                filPersons: []
            },
            watch: {
                keyWord: {
                    immediate: true,
                    handler(val) {
                        this.filPersons = this.persons.filter((person) => {
                            return person.name.indexOf(val) !== -1;
                        })
                    }
                }
            }
        })
    </script>
</body>

</html>