<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h1>学校信息</h1>
        <h2>学校名称:{{name}}</h2>
        <h2>学校地址:{{address}}</h2>
        <hr/>
        <h1>学生信息</h1>
        <button @click="addSex">添加一个性别属性，默认值为"男"</button>
        <h2>学生姓名:{{student.name}} </h2>
        <h2 v-if="student.sex">学生性别:{{student.sex}} </h2>
        <h2>学生年龄:真实年龄:{{student.age.rAge}} 对外年龄:{{student.age.sAge}}</h2>
        <h2>朋友们</h2>
        <ul>
            <li v-for="(friend,index) in student.friends" ::key="index">
                {{friend.name}}--{{friend.age}}
            </li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
        el: '#root',
        data: {
            name: 'KFC',
            address: 'China',
            student: {
                name: 'Waylon',
                age: {
                    rAge: 40,
                    sAge: 18
                },
                friends: [
                    {name: 'Valerie', age: 30},
                    {name: 'Tony', age:40}
                ]
            }
        },
        methods: {
            addSex() {
                // 第一种方式
                // Vue.set(this.student,'sex','男');
                // 第二种方式
                this.$set(this.student,'sex','男');
            }
        }
        })
    </script>
</body>
</html>